@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');

body {
    background: rgb(106,230,255);
    background: linear-gradient(99deg, rgba(106,230,255,1) 0%, rgba(57,114,171,1) 100%);
    display: block;
    margin: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#pretty::before{
    content: "";
    display: block;
    background-color:rgba(57, 114, 171, 0.591) ;
    width:30px;
    height: 30px;
    border-radius: 50px;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    animation: blur 8s infinite;
}

#pretty2::before{
    content: "";
    display: block;
    background-color:rgba(99, 194, 218, 0.591) ;
    width:100px;
    height: 100px;
    border-radius: 50px;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    animation: blur2 15s infinite;
}
#pretty::after{
    content: "";
    display: block;
    background-color:rgba(57, 114, 171, 0.591) ;
    width:50px;
    height: 50px;
    border-radius: 50px;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    animation: blur2 4s infinite;
}
#pretty2::after{
    content: "";
    display: block;
    background-color:rgba(137, 235, 255, 0.591) ;
    width:70px;
    height: 70px;
    border-radius: 50px;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    animation: blur 10s infinite;
}
@keyframes blur{
    0%{
        transform: translate(12px, 20px);
    }
   
    50%{
        transform: translate(350px, 360px);
    }
   
    100%{
        transform: translate(12px, 20px);
    }
}
@keyframes blur2{
    0%{
        transform: translate(0px, 20px);
    }
   
    50%{
        transform: translate(450px, 60px);
    }
   
    100%{
        transform: translate(0px, 20px);
    }
}
main {
    color:white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

/* header, footer {
    grid-column: 1/3;
}

footer {
    margin-top: 200px;
} */

/* h1 {
    font-family: Orbitron, sans-serif;
} */
#fancy-smancy{
    margin: 10vw auto;
    height:25vw;
}

#fancy-smancy button{
    padding:14px;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid white;
    border-radius: 10px;
    font-size: 1.5vw;
    margin-left: 6vw;
}

#fancy-smancy button:hover{
    background-color: rgb(82, 189, 222);
    border: none;
}


p {
    color: white;
    border-top: 1px solid white;
    font-family: Assistant, sans-serif;
    width: 25ch;
    font-size: 4vw;
    margin-left: 6vw;
}

.welcome {
    font-size: unset;
    margin: 0;
    border-top: 0;
}

/* .capitalize {
    text-transform: capitalize;
} */

svg{
    fill:white;
}

/* ul {
    text-align: left;
} */

/* li {
    font-family: Roboto, sans-serif;
    color: #393D3F;
    font-size: 18pt;
    margin-bottom: 10px;
}

#hero {
    grid-column: 1/3;
    text-align: center;
    margin-bottom: 5rem;
    display: grid;
    grid-template-rows: 1fr;
}

#hero-img {
    width: 80%;
    height: 200px;
    object-fit: cover;
    z-index: -1;
    grid-row: 1/3;
    grid-column: 1/3;
    justify-self: center;
}

#hero-message {
    grid-row: 1/3;
    grid-column: 1/3;
    color: white;
}

#log-in-message {
    grid-row: 1/3;
    grid-column: 1/3;
    color: white;
    margin-top: 11rem;
}

.dash-card {
    justify-self: center;
    background-color: #9BF9FA;
    border-radius: 20px;
    text-align: center;
    border: 5px solid #393D3F;
    width: 75%;
}

#stat-list {
    list-style-type: none;
}

.take-quiz {
    background-color: #393D3F;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 5px;
    grid-column: 1/3;
    width: 7%;
    height: 30%;
    justify-self: center;
}

.take-quiz:hover {
    background-color: #535758;
} */

@media only screen and (max-width: 600px) {
    #main {
        grid-template-columns: 1fr;
    }

    #pretty {
        display: none;
    }

    #fancy-smancy {
        text-align: left;
        margin-left: 3vw;
    }

    #fancy-smancy button {
        font-size: 3vw;
        
    }

    p {
        font-size: 6vw;
        
    }
  }