@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');

body {
    background: rgb(106,230,255);
    background: linear-gradient(99deg, rgba(106,230,255,1) 0%, rgba(57,114,171,1) 100%);
    display: block;
    margin: 0;
}

main {
    color:white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

header, footer {
    grid-column: 1/3;
}

footer {
    margin-top: 200px;
}

h1 {
    font-family: Orbitron, sans-serif;
}
#fancy-smancy{
    margin: 0 auto;
    height:25vw;
}

#fancy-smancy button{
    padding:14px;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid white;
    border-radius: 10px;
    font-size: 1vw;
}
p {
    color: white;
    border-top: 1px solid white;
    font-family: Assistant, sans-serif;
    width: 25ch;
    font-size: 3vw;
}
svg{
    fill:white;
}

ul {
    text-align: left;
}

li {
    font-family: Roboto, sans-serif;
    color: #393D3F;
    font-size: 18pt;
    margin-bottom: 10px;
}

#hero {
    grid-column: 1/3;
    text-align: center;
    margin-bottom: 5rem;
    display: grid;
    grid-template-rows: 1fr;
}

#hero-img {
    width: 80%;
    height: 200px;
    object-fit: cover;
    z-index: -1;
    grid-row: 1/3;
    grid-column: 1/3;
    justify-self: center;
}

#hero-message {
    grid-row: 1/3;
    grid-column: 1/3;
    color: white;
}

#log-in-message {
    grid-row: 1/3;
    grid-column: 1/3;
    color: white;
    margin-top: 11rem;
}

.dash-card {
    justify-self: center;
    background-color: #9BF9FA;
    border-radius: 20px;
    text-align: center;
    border: 5px solid #393D3F;
    width: 75%;
}

#stat-list {
    list-style-type: none;
}

.take-quiz {
    background-color: #393D3F;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 5px;
    grid-column: 1/3;
    width: 7%;
    height: 30%;
    justify-self: center;
}

.take-quiz:hover {
    background-color: #535758;
}

