body {
    margin: 0;
    background: rgb(106,230,255);
    background: linear-gradient(99deg, rgba(106,230,255,1) 0%, rgba(57,114,171,1) 100%);
    color: white;
    font-family: Roboto, sans-serif;
}

.stat-list{
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(138, 171, 203, 0.406);
    width:50%;
    height:200px;
    padding:20px;
    margin: 0 auto;
    border-radius: 15px;
    list-style-type: none;
    color: white;
    
}


li{
    margin-bottom:9px;
}

#stats{
    margin: 50px auto;
    padding-bottom: 50px;
    padding-top:10px;
    background-color: rgba(255, 255, 255, 0.458);
    color: rgb(61, 117, 139);
    width:80vw;
    border-radius: 20px;
    
}

p{
    width:50ch;
    font-size: 1.5em;
    margin: 0 auto;
}

h1{
    text-transform: uppercase;
    font-size: 2.6em;
}

main{
    text-align: center;
}

em{
    text-decoration: underline;
}

.tryAgain{
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.072);
    width:70vw;
    padding:2vw;
    margin: 50px auto;
}

button{
    padding:14px;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid white;
    border-radius: 10px;
    font-size: 1vw;
}

button:hover{
    background-color: rgb(82, 189, 222);
    border: none;
}